<%= form_with(model: Comment.new, url: url) do |form| %>
  <div class="field">
    <%= form.text_area :body, required: true%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
