<h1><%= t('views.common.title_edit', name: Report.model_name.human) %></h1>

<%= render 'form', comment: @comment, url: polymorphic_path([@attach_resouce, @comment]) %>

<%= link_to t('views.common.back'), polymorphic_path(@attach_resouce) %>
